html,body{
	height: 100%;
	width: 100%;
	margin: 0px;
	overflow: hidden;
	font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
#nav{
	z-index: 20;
	width: 100%;
	height: 45px;	
	background: #0767c8;
    background: -webkit-linear-gradient(top,#086ed5,#055db5);
    background: linear-gradient(to bottom,#086ed5,#055db5);
    border-bottom: 1px solid #044e97;
    box-shadow: 0 1px 2px rgba(0,0,0,.25),inset 0 1px 0 rgba(255,255,255,.15);	
}
#content{
	height: 100%;
	width: 100%;
	background-color: #E2E2E2;
}
#left{
	box-shadow: 3px 0 6px rgba(0,0,0,0.3);
	width: 24%;
	height: 100%;
	text-align: center;
	display: inline-block;
	float: left;
	background-color: #C3C3C3;
}
#mid{
	height: 100%;
	width: 48%;
	background-color: #E2E2E2;
	display: inline-block;
}

#right{
    opacity: 0;
	float: right;
	height: 100%;
	text-align: center;
	width: 28%;
	background-image: url("images/rBG.jpg");
}
#nav h1{
	margin: 0;
	padding-left: 4%;
	color: #E2E2E2;
}
#nav span{
	margin-left: 3rem;
	font-size: 0.4rem;
}
a{
    display: block;
	text-decoration: none;
}

li{
	height: 50px;
	float: left;
	position: relative;
}

li p {
	font-style: normal;
    width: 33px;
    height: 296px;
    font-size: 18px;
    word-break: break-all;
}

ul{
	list-style: none;
	width: 330px;
	position: absolute;
	display: inline-block;
	vertical-align: text-top;
	bottom: 24%;
	padding-left: 20px;
	left: 0;
	clear: both;
}

#left img{
	margin-top: 10%;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	box-shadow: 0 0 4.8rem black;
	-webkit-animation: nucleus 2s infinite linear;
    -moz-animation: nucleus 2s infinite linear;
}

@-webkit-keyframes nucleus {
    0% {
        box-shadow: 0 0 0 transparent;
    }
    50% {
        box-shadow: 0 0 4.8rem black;
    }
    100% {
        box-shadow: 0 0 0 transparent;
    }
}

@-moz-keyframes nucleus {
    0% {
        box-shadow: 0 0 0 transparent;
    }
    50% {
        box-shadow: 0 0 4.8rem black;
    }
    100% {
        box-shadow: 0 0 0 transparent;
    }
}

#left span{
	float: right;
	margin-right: 10px;
}
#left p{
	color: #6F6F6F;
	font-style: italic;
	margin: 20px;
}

#left p:hover{
	color: #00A7B9;
}

#left h2{
	color: #827C7C;
}


#left h1{
	padding-top: 64%;
	padding-left: 10%;
	float: right;
	bottom: 4%;
	width: 33px;
    height: 120px;
    font-size: 18px;
    margin: 10px;
    word-break: break-all;
	color: #383838;
}


.book{
	margin: 2%;
	width: 82%;
	background-color: #ccc;
	height: 300px;	
	opacity: 0;
	cursor:pointer;
}
.book_cover{
	width: 140px;
    max-height: 186px;
    _height: 186px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 2px 2px 9px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 2px 2px 9px 0 rgba(0,0,0,.2);
    box-shadow: 2px 2px 9px 0 rgba(0,0,0,.2);
	float: left;
	margin-left: 1rem;
	margin-top: 1rem;		
}

.book h3{
	color: #6B6B6B;
	top: 3%;
	font-size: 1.2em;
	margin-left: 64%;
	padding-top: 20px;
}

.book p{
	float: right;
	width: 320px;
	color: #484848;
	padding: 5px;
	border-left: 2px solid;
} 

.book_map{
	text-align: center;
	margin-left: 10%;
	background-color: #E6E1E1;
	border-radius: 20px;
	width: 240px;
	position: absolute;
	height: 80px;
	opacity: 0;
}

#r_input{
	margin: 2%;
	width: 100%;
	bottom: 0;
}

#r_input h2{
	color: rgba(39, 39, 39, 0.7);
}

#right h1{
	color: rgba(255, 255, 255, 0.71);
	font-size: 2.8em;
	float: right;
	margin-right: 4%;
}

.r_input_g{
	width: 80%;
	height: 48px;
	font-size: 2em;
    background-color: rgba(148, 150, 148, 0.49);
    border: 2px solid transparent;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.r_input_g:focus{
	background: transparent;
}

#right textarea{
	height: 120px;
	overflow: hidden;
}

#about{
	width: 100%;
	height: 90%;
	background-color: rgba(204, 204, 204, 0.54);
	margin-top: 2%;
	margin-left: 1%;
}

#about h1{
	padding-top: 20px;
    padding-left: 10px;
    color: #212121;;
}

#about p{
	padding-left: 32px;
    width: 70%;
	font-size: 1.2em;
}

#about #p{
    border-radius: 4%;
	position: absolute;
	right: 4%;
	top: 16%;
    
}

#about_bg{
	width: 100%;
	top: 0;
	position: absolute;
	z-index: -1;
	-webkit-filter:blur(25px);
}

#about_book{
	text-decoration: underline;
}

#about .level{
	width: 100%;
	border-left: 12px solid #4F9CEE;
}

.level span{
	font-size: 1.2em;
}

table{
	display: table;
	top: 0;
	margin: auto auto;
	position: absolute;
	color: #FFF9F9;
	border-right: #ccc 2px solid;
	padding-right: 20px;
}

tr:hover{
	background-color: #92CADE;	
}
.content {
    background-color: #828080;;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
    font-weight: 700;
    height: 23px;
}

th {
    padding: 2px 10px;
    font-size: 12px;
    line-height: 22px;
    height: 22px;
    border: 1px solid #e6e6e6;
}

table{
	margin: auto;
}


#diary{
	width: 100%;
	margin: auto auto;
	height: 100%;
    background-size: 200% 100% !important;
    -webkit-animation: move 6s ease infinite;
    animation: move 6s ease infinite;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background: -webkit-linear-gradient(45deg, #49d49d 10%, #a2c7e5 90%);
    background: linear-gradient(45deg, #49d49d 10%, #a2c7e5 90%);
}

@-webkit-keyframes move {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}
@keyframes move {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}


#write{
	background-color: #C1C1C1;;
	width: 480px;
	height: 240px;
	top: 100px;
	position: absolute;
	margin: auto auto;
	left: 360px;
	border-radius: 4%;
	border-top: #6B6B6B 10px solid;
}
#write h2{
	padding-left: 20px;
	margin: 0;
	color: aliceblue;
}
#timeline{
	width: 60px;
	height: 100%;
	position: absolute;
	top: 100px;
	left: 16%;
	border-right: 2px solid #5d7895;
}

#timeline #time_t{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 2px solid #fff;
	background: url("images/head.jpg");
	background-size: 100%;
}

#put{
	margin: auto auto;
	width: 96%;
	height: 72%;
	box-shadow: 0 0 4px #000000;
	border-radius: 2%;
	/*background-color: #EAEAEA;*/
}

.timebox{
	width: 380px;
    height: 72px;
    position: absolute;
    left: 60px;
}

#time1{
	top: 260px;
}

#time2{
	top: 400px;
}
.time_content{
	width: 380px;
    height: 100px;
    background: #fff;
    border-radius: 6px;
    margin-top: 30px;
    font-size: 16px;
    line-height: 20px;
    text-indent: 20px;
    word-break: break-all;
    position: relative;
    left: 6px;
}

.timebox .point{
	width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: #9DCFE1;
    position: absolute;
    top: 35px;
    left: -10px;
}

#time {
    font-size: 20px;
    color: #ababab;
}

#hour {
    font-size: 12px;
    color: #92CADE;
}

#book_read{
	width: 72%;
	height: 98%;
	padding: 4%;
	z-index: 999;
	top: 45px;
	background-color: #ccc;
	position: absolute;	
	opacity: 0;
	display: none;
}

#back{
	font-size: 2em;
	color: #fff;
}

#push{
	padding: 10px;
	width: 76%;
	margin: auto auto;
	background-color: rgba(121, 113, 113, 0.9);
	cursor:pointer;
}

#nav_menu{
	float: right;
	width: 24%;
}

#write p{
	float: right;
	cursor: pointer;
	text-align: center;
	border-radius: 4px;
	width: 3rem;
	display: block;
	margin-top: 38%;
	background-color: #9DCFE1;
}

#book_menu_content{
    width: 50px;
    background-color: #E2E2E2;
    position: absolute;
    font-size: 1.6em;
    width: 100%;
    -moz-box-shadow: 0px 1px 31px #d1cdd1;
    -webkit-box-shadow: 0px 1px 31px #d1cdd1;   
    box-shadow: 0px 1px 31px #d1cdd1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

a{
    color: #e6e6e6;
}

a:hover{
    color: #4F9CEE;
}
